body,html{
    height: 100%;
    padding: 0;
}    
html{
    scroll-behavior: smooth;
}    
            .bg{
                background-image:url(imagens/iansã01.jpg);
                background-repeat: no-repeat;
                background-size:cover;
                background-position: center;
                background-attachment: fixed;
            }

            h1{
                color: #000;
                font-size:15px;
                font-family:Tahoma, Geneva, sans-serif;
                letter-spacing:2px;
                text-align:left;
                text-indent:100px;
                padding-left: 10px;
                padding-right: 5px;
            }
            h2{
                font-size: 60px;
                text-align: center;
                color:#008080;

                line-height: 15px;
                
            }
            
            h3{
                color:#696969;
                padding-top: 10px;
                font-size: 60px;
                text-align: center
                
            }
            h4{
                font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size: 25px;
                text-align:center;
                color: #008B8B;
            }
           
			strong{
				font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                font-size: 20px;
				}
                
                p{  
                font-family:sans-serif;
                font-size: 18px;
                line-height:20px;
                color:#1C1C1C;
                text-align: left;
                }
                h5{
                    text-align: center;
                    font-size: 40px;
                    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                    line-height: 18px;
                    color:#008B8B;
                }
                /*botão topo*/
                .topo{
                    position: fixed;
                    padding: 25px;
                    background-color: #222;
                    right: 0;
                    bottom: 10px;
                    color: #fff;
                    font-size:15px;
                    text-transform: uppercase;
                    text-decoration: none;
                    text-align: center; 
                    opacity: 0.4;  
                    border-radius:5px; 
                }
